<div>
    <div class="boardTitle">
        <h1>Draft Board</h1>
    </div>

    <div class="scrollList">
        <ul class="list-group" *ngFor="let pick of pickOrder">
            <li *ngIf = "pick.pick === 1" class="list-group-item" class="newRound"> ROUND {{pick.round}}</li>
            <li *ngIf="pick.player" class="list-group-item">
                <p> {{pick.round}}.{{pick.pick}} &nbsp; {{pick.player || null}} </p>
                <p *ngIf="pick.team == myTeamID">Your Team</p>
                <p *ngIf="pick.team != myTeamID">Team {{pick.team}} </p>
            </li>

            <li *ngIf="!pick.player" class="list-group-item noPick">
                <p> {{pick.round}}.{{pick.pick}} &nbsp; {{pick.player || null}} </p>
                <p *ngIf="pick.team == myTeamID">Your Team</p>
                <p *ngIf="pick.team != myTeamID">Team {{pick.team}} </p>
            </li>
        </ul>
    </div>
</div>
