
<div class="myContainer">

<!-- Modal -->
    <ng-template #content let-modal class="modalSize">
        <div class="modal-header ">
          <h4 class="modal-title" id="modal-basic-title">Draft Settings</h4>
        </div>

        <div class="modal-body">
          <div class="modalLeft">

           <div class="positionSettings">
              <h5 class="inlineHeader">QB:  {{qbAmount}}</h5>
              <button type="button" (click)="increment('QB')" class="btn btn-primary btn-sm buttonWidth ">+</button>
              <button type="button" (click)="decrement('QB')" class="btn btn-primary btn-sm buttonWidth ">-</button>
          </div>

          <div class="positionSettings">
              <h5 class="inlineHeader">RB:  {{rbAmount}}</h5> 
              <button type="button" (click)="increment('RB')" class="btn btn-primary btn-sm buttonWidth ">+</button>
              <button type="button" (click)="decrement('RB')" class="btn btn-primary btn-sm buttonWidth ">-</button>
          </div>

          <div class="positionSettings">
              <h5 class="inlineHeader">WR:  {{wrAmount}}</h5> 
              <button type="button" (click)="increment('WR')" class="btn btn-primary btn-sm buttonWidth ">+</button>
              <button type="button" (click)="decrement('WR')" class="btn btn-primary btn-sm buttonWidth ">-</button>
          </div>

          <div class="positionSettings">
              <h5 class="inlineHeader">TE:  {{teAmount}}</h5> 
              <button type="button" (click)="increment('TE')" class="btn btn-primary btn-sm buttonWidth ">+</button>
              <button type="button" (click)="decrement('TE')" class="btn btn-primary btn-sm buttonWidth ">-</button>
          </div>

          <div class="positionSettings">
              <h5 class="inlineHeader">FLX:  {{flexAmount}}</h5> 
              <button type="button" (click)="increment('FLEX')" class="btn btn-primary btn-sm buttonWidth ">+</button>
              <button type="button" (click)="decrement('FLEX')" class="btn btn-primary btn-sm buttonWidth ">-</button>
          </div>

          <div class="positionSettings">
              <h5 class="inlineHeader">BN:  {{benchAmount}}</h5> 
              <button type="button" (click)="increment('BENCH')" class="btn btn-primary btn-sm buttonWidth ">+</button>
              <button type="button" (click)="decrement('BENCH')" class="btn btn-primary btn-sm buttonWidth ">-</button>
          </div>

        </div>

        <div class="modalRight">
            <div class="draftSettings">
                <h5 class="inlineHeaderRight">Teams:  {{numTeams}}</h5> 
                <button type="button" (click)="increment('TEAMS')" class="btn btn-primary btn-sm buttonWidth ">+</button>
                <button type="button" (click)="decrement('TEAMS')" class="btn btn-primary btn-sm buttonWidth ">-</button>
            </div>
        </div>

        <div class="modalRight">
            <div class="draftSettings">
                <h5 class="inlineHeaderRight">Pick:  {{myTeamID}}</h5> 
                <button type="button" (click)="increment('PICK')" class="btn btn-primary btn-sm buttonWidth ">+</button>
                <button type="button" (click)="decrement('PICK')" class="btn btn-primary btn-sm buttonWidth ">-</button>
            </div>
        </div>
          
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark centerFooter" (click)="modal.close('Save click'); initializeTeams(numTeams); initializePickOrder(numTeams);">Start Draft!</button>
      </div>

    </ng-template>


<!-- Top Pane -->
    <div class="toppane">
      <h1 class="text-center topPaneHeader">Fantasy Football Mock Draft Simulator</h1>
    </div>

<!-- Left Pane -->
    <div class="leftpane scrollList" >
      <app-roster 
        [qbAmount]=qbAmount
        [rbAmount]=rbAmount
        [wrAmount]=wrAmount
        [teAmount]=teAmount
        [flexAmount]=flexAmount
        [dstAmount]=dstAmount
        [kickerAmount]=kickerAmount
        [benchAmount]=benchAmount
        [teams]=teams 
        [myTeamID]=[myTeamID]>
      </app-roster>
    </div>

<!-- Middle Pane -->
    <div class="middlepane scrollList" >
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">RK</th>
              <th scope="col">Name</th>
              <th scope="col">ADP</th>
              <th scope="col">Bye</th>
              <th>
              <div class="row">
                  <div class="col">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>All</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>All</button>
                        <button ngbDropdownItem (click)="filterPlayerPosition('RBs')">RBs</button>
                        <button ngbDropdownItem>WRs</button>
                      </div>
                    </div>
                  </div>
              </div>
            </th>
            </tr>
            </thead>

            <tbody *ngIf = "filterPlayers === 'all'">
            <tr *ngFor="let player of availablePlayers; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{ player.name }}
              </td>
              <td>{{ player.adp}}</td>
              <td>{{ player.bye}}</td>
              <td>
                <button *ngIf="!yourTurnToPick" type="button" class="btn btn-secondary">Draft</button>
                <button *ngIf="yourTurnToPick" (click)="pickPlayer(player)" type="button" class="btn btn-primary">Draft</button>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf = "filterPlayers === 'RBs'">
                <tr *ngFor="let player of availablePlayers; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    {{ player.name }}
                  </td>
                  <td>{{ player.adp}}</td>
                  <td>{{ player.bye}}</td>
                  <td>
                    <button *ngIf="!yourTurnToPick" type="button" class="btn btn-secondary">Draft</button>
                    <button *ngIf="yourTurnToPick" (click)="pickPlayer(player)" type="button" class="btn btn-primary">Draft</button>
                  </td>
                </tr>
            </tbody>
            
          </table>
          
    </div>

<!-- Right Pane -->
    <div class="rightpane">
      <app-draftboard [pickOrder]=pickOrder [myTeamID]=[myTeamID]> </app-draftboard>
    </div>
  </div>
