<!-- <div *ngFor="let player of players">  
    <p>{{ player.name }}  |  {{ player.adp }}</p>
</div> -->

<!-- <div class="container">
    <div class="left">Left Side Menu</div>
    <div class="middle" *ngFor="let player of players">{{ player.name }}</div>
    <div class="right">Right Side Menu</div>
</div> -->

<div class="myContainer">
    <div class="toppane">
        <button (click)="startDraft()">START DRAFT</button>
    </div>

    <div class="leftpane">
      <app-roster 
        [qbAmount]=qbAmount
        [rbAmount]=rbAmount
        [wrAmount]=wrAmount
        [teAmount]=teAmount
        [flexAmount]=flexAmount
        [dstAmount]=dstAmount
        [kickerAmount]=kickerAmount
        [benchAmount]=benchAmount
        [teams]=teams 
        [myTeamNumber]=[myTeamNumber]>
      </app-roster>
    </div>

    <div class="middlepane">
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">RK</th>
              <th scope="col">Name</th>
              <th scope="col">ADP</th>
              <th scope="col">Bye</th>
              <th>
              <div class="row">
                  <div class="col">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>All</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>All</button>
                        <button ngbDropdownItem (click)="filterPlayerPosition('RBs')">RBs</button>
                        <button ngbDropdownItem>WRs</button>
                      </div>
                    </div>
                  </div>
              </div>
            </th>
            </tr>
            </thead>

            <tbody *ngIf = "filterPlayers === 'all'">
            <tr *ngFor="let player of availablePlayers; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px"> -->
                {{ player.name }}
              </td>
              <td>{{ player.adp}}</td>
              <td>{{ player.bye}}</td>
              <td>
                <button *ngIf="!yourTurnToPick" type="button" class="btn btn-secondary">Draft</button>
                <button *ngIf="yourTurnToPick" (click)="pickPlayer(player)" type="button" class="btn btn-primary">Draft</button>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf = "filterPlayers === 'RBs'">
                <tr *ngFor="let player of availablePlayers; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px"> -->
                    {{ player.name }}
                  </td>
                  <td>{{ player.adp}}</td>
                  <td>{{ player.bye}}</td>
                  <td>
                    <button *ngIf="!yourTurnToPick" type="button" class="btn btn-secondary">Draft</button>
                    <button *ngIf="yourTurnToPick" (click)="pickPlayer(player)" type="button" class="btn btn-primary">Draft</button>
                  </td>
                </tr>
            </tbody>

          </table>

        <!-- <div>
            <ul id="menu">
                <li id='rank'>RK</li>
                <li id='player'>PLAYER</li>
                <li id='adp'>ADP</li>
                <li id='bye'>BYE</li>
                <li id='team'>TEAM</li>
            </ul>  
        </div>
        <div id='player' *ngFor="let player of availablePlayers; let i = index">
                <ul id="menu">
                    <li id='rank'>{{i+1}}</li>
                    <li id='player'>{{player.name}}</li>
                    <li id='adp'>{{player.adp}}</li>
                    <li id='bye'>{{player.bye}}</li>
                    <li id='team'>{{player.team}}</li>
                    <button *ngIf="yourTurnToPick" (click)="pickPlayer(player)">DRAFT</button>
                </ul>  
        </div> -->
    </div>

    <div class="rightpane">
      <app-draftboard [pickOrder]=pickOrder></app-draftboard>
    </div>
  </div>
